Importa bibliotecas

In [17]:
import pandas as pd
import os
import glob
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings("ignore")

Monta drive

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Caminho do drive

In [10]:
dir = '/content/drive/MyDrive/PYHTON/00_GITHUB/00c_CODIGOS_EXTRAS_PYTHON/'

Lista os arquivos

In [11]:
files = sorted(glob.glob(f'{dir}input/Historico*csv*'))
files

['/content/drive/MyDrive/PYHTON/00_GITHUB/00c_CODIGOS_EXTRAS_PYTHON/input/HistoricoDescargas_Bertioga.csv',
 '/content/drive/MyDrive/PYHTON/00_GITHUB/00c_CODIGOS_EXTRAS_PYTHON/input/HistoricoDescargas_Caraguatatuba.csv',
 '/content/drive/MyDrive/PYHTON/00_GITHUB/00c_CODIGOS_EXTRAS_PYTHON/input/HistoricoDescargas_Guaruja.csv']

Concatena dataframes

In [12]:
# cria uma tabela (conhecida também com o nome em inglês de "dataframe") vazia
df = pd.DataFrame()

# loop de cada arquivo da lista files
for file in files:

    # leitura da tabela
    df0 = pd.read_csv(file, delimiter=';')

    # junta a tabela que foi lida com a anterior
    df = pd.concat([df, df0], ignore_index=True)

    # imprime o nome do arquivo lido na tela
    print(file, df0.shape[0])

# mostra o dataframe
df

/content/drive/MyDrive/PYHTON/00_GITHUB/00c_CODIGOS_EXTRAS_PYTHON/input/HistoricoDescargas_Bertioga.csv 560
/content/drive/MyDrive/PYHTON/00_GITHUB/00c_CODIGOS_EXTRAS_PYTHON/input/HistoricoDescargas_Caraguatatuba.csv 42
/content/drive/MyDrive/PYHTON/00_GITHUB/00c_CODIGOS_EXTRAS_PYTHON/input/HistoricoDescargas_Guaruja.csv 21

,Data,NanoSegundo,Lat.,Lng.,Corrente,Azimute,SemiMaior,SemiMenor,Tipo
0,18/02/2023 17:31:47,679105,-23.8155,-46.1672,-6,50,2.374,1.996,IN
1,18/02/2023 17:33:19,945831,-23.8165,-46.1453,-18,55,2.361,1.666,NS
2,18/02/2023 17:36:00,862135,-23.8656,-46.1725,-22,48,4.927,4.381,NS
3,18/02/2023 17:40:03,512629,-23.8583,-46.1743,-50,55,5.000,3.473,NS
4,18/02/2023 17:42:32,190817,-23.8627,-46.1748,-7,68,1.215,0.500,IN
...,...,...,...,...,...,...,...,...,...
618,18/02/2023 17:59:37,878654976,-23.8908,-46.1734,3,141,0.200,0.100,IN
619,18/02/2023 18:06:20,692760,-23.8622,-46.1405,-14,45,5.000,5.000,NS
620,18/02/2023 18:11:30,872112832,-23.9171,-46.1751,2,139,0.300,0.100,IN
621,18/02/2023 18:11:30,873238272,-23.9235,-46.1813,-3,131,0.100,0.100,IN
622,18/02/2023 18:11:30,877975232,-23.9216,-46.1889,-3,134,0.300,0.100,IN

Transdorma a coluna "Data" para o índice do dataframe

In [13]:
# transformando a coluna "Data" para datetime
df['Data'] = pd.to_datetime(df['Data']) # 18/02/2023 17:31:47

# coluna data como índice da tabela
df.set_index('Data', inplace=True)

# mostra o dataframe
df

,NanoSegundo,Lat.,Lng.,Corrente,Azimute,SemiMaior,SemiMenor,Tipo
Data,,,,,,,,
2023-02-18 17:31:47,679105,-23.8155,-46.1672,-6,50,2.374,1.996,IN
2023-02-18 17:33:19,945831,-23.8165,-46.1453,-18,55,2.361,1.666,NS
2023-02-18 17:36:00,862135,-23.8656,-46.1725,-22,48,4.927,4.381,NS
2023-02-18 17:40:03,512629,-23.8583,-46.1743,-50,55,5.000,3.473,NS
2023-02-18 17:42:32,190817,-23.8627,-46.1748,-7,68,1.215,0.500,IN
...,...,...,...,...,...,...,...,...
2023-02-18 17:59:37,878654976,-23.8908,-46.1734,3,141,0.200,0.100,IN
2023-02-18 18:06:20,692760,-23.8622,-46.1405,-14,45,5.000,5.000,NS
2023-02-18 18:11:30,872112832,-23.9171,-46.1751,2,139,0.300,0.100,IN
2023-02-18 18:11:30,873238272,-23.9235,-46.1813,-3,131,0.100,0.100,IN
2023-02-18 18:11:30,877975232,-23.9216,-46.1889,-3,134,0.300,0.100,IN

Seleciona os dados que estão num intervalo de data

In [20]:
# data central
ano, mes, dia, hor, min = '2023', '02', '18', '17', '40'

# Data inicial e final em formato de "CARACTER"
data_str_ini = str(datetime(int(ano), int(mes), int(dia), int(hor), int(min), 0, 1))                                                # tempo inicial
data_str_end = str(datetime.strptime(data_str_ini, '%Y-%m-%d %H:%M:%S.%f') + timedelta(minutes=4, seconds=59, microseconds=999998)) # tempo final (+5min)

print(data_str_ini)
print(data_str_end)

# procura na tabela da Brasildat, relâmpagos dentro do tempo do relâmpago da SPLMA
df_recorte = df.loc[data_str_ini : data_str_end]

2023-02-18 17:40:00.000001
2023-02-18 17:44:59.999999

In [21]:
# mostra os dados recortado no período de tempo
df_recorte

,NanoSegundo,Lat.,Lng.,Corrente,Azimute,SemiMaior,SemiMenor,Tipo
Data,,,,,,,,
2023-02-18 17:40:03,512629,-23.8583,-46.1743,-50,55,5.000,3.473,NS
2023-02-18 17:42:32,190817,-23.8627,-46.1748,-7,68,1.215,0.500,IN
2023-02-18 17:40:03,477053984,-23.9186,-46.2167,-3,138,0.200,0.100,IN
2023-02-18 17:40:03,484924480,-23.8909,-46.1727,-4,144,0.300,0.100,IN
2023-02-18 17:43:36,884493,-23.8716,-46.1537,-13,45,5.000,5.000,NS